<main class="index grid">
<% @dogs.each do |dog| %>
    <a href="/dogs/<%= dog.id %>" class="card">
        <h2><%= dog.name %>, <%= dog.age %></h2>
        <p><%= dog.breed %></p>
    </a>
<% end %>
</main>