* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body {
	background-color: #afd7df;
	width: 90%;
	margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Vollkorn', serif;
}

h1 {
	font-size: 3rem;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}
